@layer reset, base;

@layer reset {
  * {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
  }
  body {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }
  a {
    color: inherit;
  }
}

@layer base {
  :root {
    color-scheme: light dark;
    --mn-zinc-950: oklch(14.1% 0.005 285.823);
    --mn-zinc-900: oklch(21% 0.006 285.885);
    --mn-zinc-50: oklch(98.5% 0 0);
    --mn-light: #fff;
    --mn-highlight: violet;
    --mn-border-radius: 0.625rem;
    --mn-border-color-light: rgba(255, 255, 255, 0.1);
    --mn-border-color-dark: rgba(0, 0, 0, 0.1);
  }
  body {
    color: light-dark(var(--mn-zinc-950), var(--mn-light));
    background-color: light-dark(var(--mn-light), var(--mn-zinc-950));
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
  }
  a {
    &:hover {
      color: var(--mn-highlight);
    }
  }
  footer {
    padding: 2rem 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 2rem;
  }
  .flex-1 {
    flex: 1;
  }
  .group-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  @media screen and (min-width: 64rem) {
    .group-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  .group-card {
    background-color: light-dark(var(--mn-zinc-50), var(--mn-zinc-900));
    border-radius: var(--mn-border-radius);
    border: 1px solid
      light-dark(var(--mn-border-color-dark), var(--mn-border-color-light));
  }
}
