@layer reset, base;

@layer reset {
  * {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
  }
  body {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }
  a {
    color: inherit;
  }
}

@layer base {
  :root {
    color-scheme: light dark;
    --mn-dark: #111;
    --mn-light: #fff;
    --mn-highlight: violet;
  }
  body {
    color: light-dark(var(--mn-dark), var(--mn-light));
    background-color: light-dark(var(--mn-light), var(--mn-dark));
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
  }
  a {
    &:hover {
      color: var(--mn-highlight);
    }
  }
  footer {
    padding: 2rem 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 2rem;
  }
  .flex-1 {
    flex: 1;
  }
}
